.register {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 80px !important;
  background: white;
  padding: 20px !important;
  max-width: 500px !important;
  border-radius: 10px;

  .to__register {
    a {
      color: #01bab3;
    }
  }

  form {
    width: 100%;
    padding: 20px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    input,
    select {
      padding: 10px 20px;
      border-radius: 10px;
      width: 100%;
      height: 50px;
      outline: none;
      border: 1px solid #ddd;
    }

    .error {
      border: 1px solid crimson !important;
    }

    .error__message {
      color: crimson;
      font-size: 12px;
      height: 24px;
    }

    .email,
    .phone,
    .password,
    .confirmPassword,
    .country,
    .city {
      display: flex;
      flex-direction: column;
      gap: 5px;

      label {
        display: flex;
        align-items: center;

        span {
          color: #01bab3;
        }
      }

      &__input {
        display: flex;
        align-items: center;
        gap: 5px;
        border-radius: 10px;
        width: 100%;
        height: 50px;
        outline: none;
        padding-right: 10px;
        border: 1px solid #ddd;
        position: relative;

        .warning {
          position: absolute;
          right: 30px;
          color: crimson;
        }

        input,
        select {
          border: none;
          height: 100%;
          width: 100%;
        }

        svg {
          font-size: 18px;
        }
      }
    }

    .row {
      display: flex;
      gap: 10px;

      .country,
      .city {
        flex: 1;
      }
    }

    button {
      padding: 15px;
      background: #01bab3;
      color: white;
      border: 1px solid #01bab3;
      border-radius: 10px;
    }
  }
}
